In [1]:
# Import required packages
import sys
# !{sys.executable} -m pip install seaborn
from glob import glob
import os
import json
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
from shutil import copy,move
from distutils.dir_util import copy_tree

In [2]:
len(glob("*/*results.json"))

168

In [3]:
stackeddf=[]
for i in glob("*/*results.json"):
    name = os.path.dirname(i)
    with open(i) as f:
        data = json.load(f)
    data['encoder']=name.split('_')[0]
    data['ansatz']=name.split('_')[1]
    stackeddf.append(pd.DataFrame.from_dict(data).rename(index={0:name}))
print(len(stackeddf))
stackeddf = pd.concat(stackeddf).melt(id_vars=['encoder','ansatz'], value_vars=['MAE_train','MAE_test']).sort_values(by=['encoder','ansatz'])

168

In [4]:
stackeddf.sort_values(by='value')

        encoder          ansatz   variable      value
132      M-M-CZ        HWE-CNOT  MAE_train  18.984733
300      M-M-CZ        HWE-CNOT   MAE_test  18.999803
50      M-A1-CZ  Full-Pauli-CRZ  MAE_train  19.205337
98            M        HWE-CNOT  MAE_train  19.292819
138     M-A1-CZ          HWE-CZ  MAE_train  19.300597
..          ...             ...        ...        ...
201      M-M-CZ   Efficient-CRX   MAE_test  36.255014
160    A1-A1-CZ            ESU2  MAE_train  36.411437
328    A1-A1-CZ            ESU2   MAE_test  37.381799
250  A2-A2-CNOT          HWE-CZ   MAE_test  41.379631
82   A2-A2-CNOT          HWE-CZ  MAE_train  43.101998

[336 rows x 4 columns]

In [ ]:
g = sns.catplot(
    data=stackeddf, y="ansatz", x="value", col="encoder",hue="variable",
    kind="bar", height=5, aspect=.9,palette=sns.color_palette('Paired',5),col_wrap=5,legend_out=True)

g.set_titles("{col_name}")
# g.set_axis_labels("", "R$^{2}$")
g.set_axis_labels("", "MAE (kcal/mol)")
# g.set(ylim=(-1.1, 1.1))
# g.fig.suptitle(f"16 Qubit BSE Re-upload Depth (RUD) and Ansatz Layer (AL)")
g.tight_layout()